        <div class="row" id="loginContainer">
          <h3>Enter your credentials</h3>
          <p class="help-block">They should have been provided to you in a file.  Paste the contents of that file here.</p>
          <form id="credentialsForm">
            <div class="form-group">
              <textarea type="text" id="jsonCredentials" required placeholder="Enter your JSON-formatted credentials." rows="3" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" id="validateCredentials">Validate</button>
          </form>
        </div><!-- row loginContainer -->
